.globalBody {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: beige;
    width: 100dvw;
    height: 100dvh;
    margin: 0;

}

.section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: beige;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    flex: 1;
}

.navbar {
    padding-left:5vi;
    width: 100dvw;
    height: 10dvb;
    margin: 0;
    background-color: burlywood;
}